extends layout

block content
  .container
    h1 Welcome to the Online Art Gallery
    .links
      p
        a(href='/user/login', class = 'large-font') Login
      p
        a(href='/user/register', class = 'large-font') Register
