doctype html
html
  head
    title Art Gallery Account System
    link(rel='icon', href='/myfavicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/styles_2.css')
  body
    block content