
  body {
    background-color: #E0FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 3.6em;
    margin-bottom: 20px;
  }
  
  .links p {
    margin: 10px 0;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .large-font {
    font-size: 1.3em;
  }

  .login-container {
    text-align: center;
    max-width: 1100px;
    margin: auto;
  }

  .login-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
    
  form div {
    margin-bottom: 10px;
  }
    
  form label {
    margin-right: 10px;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .header {
    align-self: flex-start;
  }

  .header h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .header h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .welcome-message {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .center-content {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .center-content ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .center-content ul li {
    margin-bottom: 10px;
    text-align: left;
  }

  .logout-link {
    align-self: flex-start;
    margin-top: 20px;
  }