body {
    background-color: #E0FFFF;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .noti-container {
    text-align: center;
    max-width: 1100px;
    margin: auto;
  }

  .noti-container ul{
    list-style-type: none;
  }

  .new-artwork {
    margin-bottom: 40px;
  }
  
  .new-workshop {
    margin-top: 100px;
  }
  
  .read {
    color: grey;
  }
  
  .unread {
    color: black;
  }

  .back-link {
    position: absolute;
    left: 20px;
    bottom: 330px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }

  .back-link:hover {
    text-decoration: underline;
  }

  .artwork-list {
    list-style-type: none;
    padding: 0;
  }
  
  .artwork-list li {
    margin-bottom: 10px;
  }

  .artwork-list a {
    color: #ff006a;

  }

  .follow-artist-section {
    margin-top: 100px;
  }

  .search-container h1{
    font-size: 2.2em;
  }

  .search-container h2{
    margin-top: 60px;
  }

  .search-form {
    margin: 20px 0;
  }
  
  .search-input {
    width: 35%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .searched-artworks{
    font-size: 1.4em;
  }
